doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Book Tonight
    meta(name="author", content="")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    != '\n<!--[if lt IE 9]>'
      script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    != '\n<![endif]-->\n'
    link(rel="shortcut icon", href="./images/favicon.ico")
    link(rel="stylesheet" href="css/main.css")
    script(src="https://maps.googleapis.com/maps/api/js?key=#{apiKey}")
    script(src="components/angular/angular.js")
    script(src="components/angularjs-geolocation/dist/angularjs-geolocation.min.js")
    script(src="components/angular-ui-router/release/angular-ui-router.js")
    script(src="components/angular-resource/angular-resource.min.js")
    script(src="components/moment/moment.js")
    script(src="js/app.js")
    script(src="js/router.js")
    script(src="js/resources/hotel.js")
    script(src="js/resources/hotel-container.js")
    script(src="js/services/map-drawer.js")
    script(src="js/controllers/results.js")
    script(src="js/controllers/reservation.js")
    script(src="js/controllers/page.js")
    script(src="js/controllers/search.js")
  body(ng-app="BookTonight" ng-controller="PageCtrl")
    .header(ng-class="{landing: isRootPage}")
        .return(ng-hide="isRootPage" ng-click="back()")
            img(src="img/return.png")
        p.logo
            span.left BOOK 
            span.right TONIGHT
        p.tagline(ng-if="isRootPage") ワンクリックで予約できるカップル向けホテル検索アプリ
        .menu_icon
            a(href='#')
                span.one
                span.two
                span.three
                span.four
    block content
