.reservation
	.hotel-title="{{hotel.hotelName}}"
		.review= "{{hotel.reviewAverage}}"
	.hotel-pic
		img(ng-src="{{hotel.roomImageUrl}}")
	.room
		p.room-left 後部屋!
		p.price= "¥{{hotel.hotelMinCharge}}〜"
	.direction
		.address
			img(src="img/map-pin3.png")
			= "{{hotel.addres1}}{{hotel.address2}}"
		.telephone
			img(src="img/telephone.png")
			a(href='tel:{{hotel.telephoneNo}}' ng-click="reserveHotels()")
			= "{{hotel.telephoneNo}}"
	.map
		img(ng-src="{{hotel.hotelMapImageUrl}}")

.reserve
	a(class='btn', href='tel:{{hotel.telephoneNo}}' ng-click="reserveHotels()")
		= "{{hotel.telephoneNo}}"
