.search
	.place
		.search-icon
			img(src="img/search.png")
		p.search-title ホテルを検索
	.price
		.lowest(ng-click="searchHotels(1)")
			| 野宿以外コース
			.yen ¥
		.mid-low(ng-click="searchHotels(2)")
			| 給料日前コース
			.yen ¥¥
		.mid-high(ng-click="searchHotels(3)")
			| 給料日後コース
			.yen ¥¥¥
		.highest(ng-click="searchHotels(4)")
			| 御曹司コース
			.yen ¥¥¥¥
	//- .search-btn
	//- 	a(class='btn', href='javascript:void(0)' ng-click="searchHotels()") 近くのホテルを探す
