.search
	.place
		.search-icon
			img(src="img/search.png")
		p.search-title ホテルを検索

	.price
		form(action='/', method='post', id='select-price')
			label(for='price')価格帯を選択:<br>
			select(name='price' ng-model="price")
				option(value='')選択
				option(value='8000')¥〜8,000
				option(value='15000')¥〜15,000
				option(value='30000')¥〜30,000
	.search-btn
		a(class='btn', href='javascript:void(0)' ng-click="searchHotels()") 近くのホテルを探す
