.search
	.place
		.search-icon
			img(src="img/search.png")
		p.search-title ホテルを検索
	.price
		.lowest 野宿以外コース
			.yen ¥
		.mid-low 給料日前コース
			.yen ¥¥
		.mid-high 給料日後コース
			.yen ¥¥¥
		.highest 御曹司コース
			.yen ¥¥¥¥
	.search-btn
		a(class='btn', href='javascript:void(0)' ng-click="searchHotels()") 近くのホテルを探す
