
<div class="reservation">
  <div class="hotel-title">{{hotel.hotelName}}
    <div class="review">{{hotel.reviewAverage}}</div></div>
  <div class="hotel-pic"><img ng-src="{{hotel.roomImageUrl}}"/></div>
  <div class="room">
    <p class="room-left">後部屋!</p>
    <p class="price">¥{{hotel.hotelMinCharge}}〜</p>
  </div>
  <div class="direction">
    <div class="address"><img src="img/map-pin3.png"/>{{hotel.addres1}}{{hotel.address2}}
    </div>
    <div class="telephone"><img src="img/telephone.png"/><a href="tel:{{hotel.telephoneNo}}" ng-click="reserveHotels()"></a>{{hotel.telephoneNo}}
    </div>
  </div>
  <div class="map"><img ng-src="{{hotel.hotelMapImageUrl}}"/></div>
</div>
<div class="reserve"><a href="tel:{{hotel.telephoneNo}}" ng-click="reserveHotels()" class="btn">{{hotel.telephoneNo}}</a></div>