
<div class="search">
  <div class="place">
    <div class="search-icon"><img src="img/search.png"/></div>
    <p class="search-title">ホテルを検索</p>
  </div>
  <div class="price">
    <div ng-click="searchHotels(1)" class="lowest">野宿以外コース
      <div class="yen">¥</div>
    </div>
    <div ng-click="searchHotels(2)" class="mid-low">給料日前コース
      <div class="yen">¥¥</div>
    </div>
    <div ng-click="searchHotels(3)" class="mid-high">給料日後コース
      <div class="yen">¥¥¥</div>
    </div>
    <div ng-click="searchHotels(4)" class="highest">御曹司コース
      <div class="yen">¥¥¥¥</div>
    </div>
  </div>
</div>