typography()

html
  font-family: "brandon grotesque", HelveticaNeue, Helvetica, Arial, sans-serif
  color:#fff
  -webkit-font-smoothing: antialiased;

html, body, div[ui-view]
  width 100%
  height 100%
  margin 0 auto

.hotels
  height 100%

#map-canvas
  height 60%
  width 60%

a
  color:#17599a

body
	background-image url(../img/bg-2.jpg)

.header
	width 100%
	height 51px
	opacity 0.8
	background-color #fff
	position relative
	.return
		cursor pointer
		float left
		width 20px
		margin 18px 20px 20px 14px
	.logo
		color #222
		font-size 16px
		font-weight bold
		top 50%
		left 50%
		margin-right -50%
		margin 0
		position absolute
		transform translate(-50%, -50%)
	.menu_icon
		float right
		margin-right 14px
		margin-top 10px
		position relative
		a span
			transition background 0.3s ease
		span.one
			opacity 0.5
			width 13px
			height 2px
			background #222
			display block
			margin-top 8px
			margin-left 9px
		span.two
			opacity 1
			width 10px
			height 2px
			background #222
			display block
			margin-top 2px
			margin-left 9px
		span.three
			opacity 1
			width 15px
			height 2px
			background #222
			display block
			margin-top 2px
			margin-left 9px
		span.four
			opacity 1
			width 8px
			height 2px
			margin-top 2px
			height 2px
			background #222
			display block
			margin-left 9px

// Landing Page
.landing
	height 140px
	background-color transparent
	opacity 1
	p.logo
		font-size 20px
		color #fff
		text-align center
	.tagline
		margin-top 0
		text-align center
		font-size 10px
		top 65%
		left 50%
		margin-right -50%
		margin 0
		width 100%
		position absolute
		transform translate(-50%, -50%)

.search
	padding 20px
	.place
		margin-top -30px
		.search-icon
			float left
			margin-top 4px
			margin-right 8px
		.search-title
			border-bottom 1px solid #fff
			padding-bottom 5px
			margin-left 30px

	.price
		margin-top 30px
		display block
		opacity 0.8
		height 200px
		font-size 12px
		.lowest
			background-image url(../img/hotel01.jpg)
			float left
			width 33.33%
			height 33.33%
			text-align center
			background-color #fff
			padding 20px
			margin-bottom 10px
		.mid-low
			background-image url(../img/hotel02.jpg)
			float right
			width 33.33%
			height 33.33%
			text-align center
			background-color #fff
			padding 20px
			margin-bottom 10px
		.mid-high
			background-image url(../img/hotel03.jpg)
			float left
			width 33.33%
			height 33.33%
			text-align center
			background-color #fff
			padding 20px
			margin-bottom 10px
		.highest
			background-image url(../img/hotel04.jpg)
			background-position bottom
			float right
			width 33.33%
			height 33.33%
			text-align center
			background-color #fff
			padding 20px
			margin-bottom 10px
	.search-btn
		clear both
		text-align center
		a.btn
			border-radius 100px
			border 1px solid #eaeaea
			background-color #fff
			font-size 14px
			opacity 0.8
			transition all 0.3s ease
			display inline-block
			line-height 2em
			color #222
			width 200px
			height 30px
			padding 12px 20px
			cursor pointer
			left 50%
			margin-right -50%
			margin-top 60px
			position absolute
			transform translate(-50%, -50%)
		a.btn:hover
			background-color #4674DE
			border 1px solid #4674DE
			color #fff


// Reservation Page
.reservation
	width 80%
	padding 20px
	background-color #fff
	border-radius 5px
	.reserve p.btn
		margin-top 30px
		a.btn
			background-color #3BB9FF
			color #fff
			width 60%
			height 30px
			padding 5px
			cursor pointer

