typography()

html
  font-family: "brandon grotesque", HelveticaNeue, Helvetica, Arial, sans-serif
  color:#fff

html, body, div[ui-view]
  width 100%
  height 100%
  margin 0 auto

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

.hotels
  height 100%

#map-canvas
  height 60%
  width 60%

a
  color:#17599a

body
	background-image url(../img/bg.jpg)


@media screen and (max-width: 320px)
	#search-place
		width 80%

	.search-btn
		margin-top 30px
	a.btn
		background-color #3BB9FF
		width 60%
		height 30px
		padding 5px
		cursor pointer
// .seach-box
// 	fieldset
// 		padding 5px
// 		border 1px solid
// 		border-radius 5px